.popup__submit_disabled {
    background-color: transparent;
    color: #000;
    border-radius: 2px;
    border: 1px solid #000;
    opacity: .2;
}

.popup__submit_disabled:hover {
    opacity: .2;
}