.popup {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out; /* Плавное затухание отключено, чтобы избежать смещения окна при удалении overflow */
}