.profile__name {
    margin: 0;
    padding: 0;
    line-height: 48px;
    font-size: 42px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 330px;
}

@media screen and (max-width: 1024px) {
    .profile__name {
        line-height: 42px;
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .profile__name {
        line-height: 33px;
        font-size: 27px;
        text-align: center;
    }
}