.popup__text-field {
    margin: 30px 0 0;
    padding: 2px 10px 8px;
    border-radius: 0;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    line-height: 17px;
    font-size: 14px;
    min-height: 27px;
    transition: border-bottom-color .2s ease-in-out;
}

.popup__text-field:hover {
    border-bottom: 1px solid #007DFF;
}

.popup__text-field:focus {
    border-bottom: 1px solid #007DFF;
}

.popup__text-field::-webkit-input-placeholder,
.popup__text-field::-moz-placeholder,
.popup__text-field::-ms-input-placeholder,
.popup__text-field::placeholder {
    color: #000;
}