.popup__title {
    margin: 0;
    padding: 0;
    line-height: 29px;
    font-size: 24px;
    font-weight: 900;
}

/* С доводами согласен. Всё-таки это ревью и цель добиться идеальной работы, чтобы в будущем, следуя логике принимать
   правильные решения, принимая во внимания разные аспекты. Спасибо! */

@media screen and (max-width: 600px) {
    .popup__title {
        line-height: 22px;
        font-size: 18px;
    }
}