.popup__container {
    min-width: 430px;
    max-width: 430px;
    background-color: #fff;
    color: #000;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    cursor: default;
}

@media screen and (max-width: 600px) {
    .popup__container {
        min-width: 0;
        width: calc(100% - 38px);
        padding: 25px 22px;
    }
}