.profile__about {
    margin: 16px 0 0;
    padding: 0;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 365px;
}

@media screen and (max-width: 768px) {
    .profile__about {
        text-align: center;
        margin: 14px 0 0;
        line-height: 17px;
        font-size: 14px;
    }
}