.button_type_close {
    width: 40px;
    height: 40px;
    background-image: url(../../../images/popup-close-icon.svg);
    background-size: 40px 40px;
    position: absolute;
    top: -48px;
    right: -48px;
    margin: 0;
}