.button_type_submit {
    margin: 48px 0 0;
    padding: 0;
    width: 100%;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
}

.button_type_submit:hover {
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .button_type_submit {
        margin: 45px 0 0;
        min-height: 46px;
        line-height: 17px;
        font-size: 14px;
    }
}