.button_type_add {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    background-image: url(../../../images/profile-add-button.svg);
    background-size: 22px 22px;
}

@media screen and (max-width: 768px) {
    .button_type_add {
        margin: 36px 0 0;
        width: 100%;
        background-size: 16px 16px;
    }
}