.button_type_trash {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/elements-trash-button.svg);
    background-size: 18px 19px;
    justify-self: end;
    position: absolute;
    top: 18px;
    right: 15px;
}

.button_type_trash:hover {
    opacity: .6;
}