.button_type_like {
    width: 24px;
    height: 19px;
    background-image: url(../../../images/elements-like-button.svg);
    background-size: 24px 19px;
    justify-self: end;
}

.button_type_like:active {
    background-image: url(../../../images/elements-like-button-active.svg);
    opacity: 1;
    transform: scale(1);
}