.button_type_close {
    width: 40px;
    height: 40px;
    background-image: url(../../../images/popup-close-icon.svg);
    background-size: contain;
    position: absolute;
    top: -40px;
    right: -40px;
    margin: 0;
}

.button_type_close:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .button_type_close {
        right: 0;
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
    }
}