.element__inner {
    background-color: #fff;
    color: #000;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 20px 21px;
}