.element__inner {

    background-color: #fff;
    color: #000;
    border-radius: 0 0 10px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 85% 15%;
    padding: 20px 15px 20px 21px;
    box-sizing: border-box;
}