.root__container {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 19px 60px;
}

@media screen and (max-width: 768px) {
    .root__container {
        padding: 28px 19px 36px;
    }
}

@media screen and (max-width: 320px) {
    .root__container {
        min-width: 320px;
    }
}