.root__container {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 19px 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .root__container {
        padding: 28px 19px 36px;
    }
}