.footer__copyright {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-size: 18px;
    color: #545454;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        line-height: 17px;
        font-size: 14px;
    }
}