.profile__edit {
    margin: 0 0 0 18px;
    padding: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url(../../../images/profile-edit-button.svg);
    background-size: 10px 10px;
}

.profile__edit:hover {
    opacity: .6;
}

.profile__edit:active {
    transform: scale(.95);
}

@media screen and (max-width: 768px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}