.lightbox__image {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
    object-position: center center;
}

@media screen and (max-width: 600px) {
    .lightbox__image {
        max-width: 100%;
        max-height: 100%;
    }
}