.elements__inner {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .elements__inner {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 550px) {
    .elements__inner {
        grid-template-columns: repeat(1, 1fr);
    }
}