.popup__submit {
    flex-shrink: 0;
    box-sizing: border-box;
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    margin: 48px 0 0;
    padding: 0;
    width: 100%;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
}

.popup__submit:hover {
    opacity: .8;
}

.popup__submit:active {
    transform: scale(.95);
}

@media screen and (max-width: 768px) {
    .popup__submit {
        margin: 45px 0 0;
        min-height: 46px;
        line-height: 17px;
        font-size: 14px;
    }
}