.popup__text-field_type_error {
    border-bottom: 1px solid #FF0000;
    color: #ff0000;
}

.popup__text-field_type_error:hover {
    border-bottom: 1px solid #FF0000;
    color: #ff0000;
}

.popup__text-field_type_error:focus {
    border-bottom: 1px solid #FF0000;
    color: #ff0000;
}