.profile__name {
    margin: 0;
    padding: 0;
    line-height: 48px;
    font-size: 42px;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    .profile__name {
        line-height: 42px;
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .profile__name {
        line-height: 33px;
        font-size: 37px;
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    .profile__name {
        padding: 0 36px;
    }
}