.lightbox__caption {
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.lightbox__caption::first-letter {
    text-transform: uppercase;
}