.popup__form {
    margin: 24px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

@media screen and (max-width: 600px) {
    .popup__form {
        margin: 45px 0 0;
    }
}