@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/root/__container/root__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__author/profile__author.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__inner/profile__inner.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_add.css);
@import url(../blocks/button/_type/button_type_edit.css);
@import url(../blocks/button/_type/button_type_like.css);
@import url(../blocks/button/_type/button_type_like_active.css);
@import url(../blocks/button/_type/button_type_trash.css);
@import url(../blocks/button/_type/button_type_close.css);
@import url(../blocks/button/_type/button_type_submit.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__inner/elements__inner.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__inner/element__inner.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__text-field/popup__text-field.css);
@import url(../blocks/lightbox/lightbox.css);
@import url(../blocks/lightbox/__caption/lightbox__caption.css);
@import url(../blocks/lightbox/__image/lightbox__image.css);
@import url(../blocks/lightbox/__inner/lightbox__inner.css);
@import url(../blocks/lightbox/_opened/lightbox_opened.css);