@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/root/__container/root__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__author/profile__author.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__inner/profile__inner.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_type/profile__button_type_add.css);
@import url(../blocks/profile/__button/_type/profile__button_type_edit.css);
@import url(../blocks/profile/__button/_type/profile__button_type_like.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__inner/element__inner.css);
@import url(../blocks/element/__title/element__title.css);