.profile__info {
    margin: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin: 26px 0 0;
    }
}