.profile__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile__inner {
        margin-right: -18px;
    }
}

@media screen and (max-width: 380px) {
    .profile__inner {
        margin: 0;
    }
}