.element__like {
    width: 24px;
    height: 19px;
    background-image: url(../../../images/elements-like-button.svg);
    background-size: 24px 19px;
    justify-self: end;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    flex-shrink: 0;
}

.element__like:active {
    transform: scale(.95);
}

.element__like:hover {
    opacity: .5;
}