.element__trash {
    margin: 0 0 0 18px;
    padding: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/elements-trash-button.svg);
    background-size: 18px 19px;
    justify-self: end;
    position: absolute;
    top: 18px;
    right: 15px;
}

.element__trash:active {
    transform: scale(.95);
}

.element__trash:hover {
    opacity: .6;
}