.profile__button {
    margin: 0 0 0 18px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

.profile__button:hover {
    opacity: .7;
}

.profile__button:active {
    transform: scale(.95);
}