.button {
    margin: 0 0 0 18px;
    padding: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    opacity: .7;
}

.button:active {
    transform: scale(.95);
}

@media screen and (max-width: 768px) {
    .button {
        margin: 0 0 0 10px;
    }
}